server:
  port: 8082

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/ems
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  jwt:
    secret: 12345678901234567890123456789012

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
