server:
  port: 8081

spring:
  application:
    name: employee-service
  datasource:
    url: jdbc:mysql://localhost:3306/ems
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  upload-dir: uploads

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
